<div class="card yt-container">
  <!-- Based on https://www.labnol.org/internet/light-youtube-embeds/27941/ Thank you! -->
  <div class="yt-player">
    <iframe *ngIf="this.playRequested"
            [src]="('https://www.youtube.com/embed/' + video.videoId + '?&loop=1&autoplay=1') | safeUrl"
            class="yt-video"
            frameborder="0" allowfullscreen>
    </iframe>
    <img *ngIf="!this.playRequested"
         [src]="this.video.thumbUrl"
         (click)="this.play()"
         class="yt-thumb">

    <span class="glyphicon glyphicon-play-circle"
          *ngIf="!this.playRequested"
          (click)="this.play()"></span>
  </div>
  <i [class]="'glyphicon yt-views eye ' + (video.views <= 1 ? 'glyphicon-eye-close':'glyphicon-eye-open')"
     [style.color]="this.getViewsRedColor() | safeStyle">
  </i>
  <span class="lead">{{this.video.views + (this.playRequested ? 1:0)}}</span>
  <i *ngIf="video.views <= 10" title="HOT" class="glyphicon glyphicon-fire yt-views" [style.color]="'red'"></i>
  <div class="pull-right video-date">
    <i class="glyphicon glyphicon-calendar"></i>
    <span class="lead">{{this.video.postDate.getFullYear()}}</span>
  </div>
</div>
