iframe.yt-video {
  width: 100%;
}

.yt-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

i.glyphicon.yt-views {
  color: black;
  font-size: 16px;
  padding-left: 11px;
  vertical-align: center;
}

span.lead {
  font-size: 18px;
  font-weight: 400;
}
